.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    color: $color-red;
    font-weight: 600;
    font-size: 14px;
}