$color-dark-gray: #303238;
$color-light-gray: #DCD8D3;
$color-black: #1E2027;
$color-gray: #8C8988;
$color-red: #CF7B5A;
$color-dark-black: #12141B;
$color-red-light: #FF2C47;
$color-gray-light: #7A7A7A;
$color-positive-gray: #4B4E5B;